#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# environments
**/environments/*

# certificates
*.cer
*.key
*.req
*.pfx
*serial*

# plans
*plan*
*.plan*

# Terraform logs
crash.log